.navigation{
    width: fit-content;
    height: fit-content;
    position: fixed;
    top: 0;
    background-color: transparent;
    z-index: 999;
    padding: 1rem 3rem;
}   

h1{
    color: #FFF;
    font-size: 60px;
}

.navigation a{
    text-decoration: none;
}

@media screen and (max-width:1024px) {
    .navigation{
        padding: 1rem 2rem;
    }
    h1{
        font-size: 40px;
    }
}


@media screen and (max-width:768px) {
    .navigation{
        padding: 1rem;
    }

    h1{
        font-size: 30px;
    }
}